.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.recipesList{
    width: 100%;
}

.actions{
    padding: 5px 50px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}