.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.categoriesList{
    width: 100%;
}